@{

    Layout = "Layout/_Layout";
    ViewData["Title"] = "Főoldal";
    ViewData["CardTitleName"] = "";
    ViewData["PageHeaderName"] = "";
}

<br>
<br>

<div class="text-center">
    <h1 class="display-4">hrmApp alkalmazás</h1>
</div>