@{

    Layout = "Layout/_Layout";
    ViewData["Title"] = "Kapcsolat";
    ViewData["CardTitleName"] = "";
    ViewData["PageHeaderName"] = "";
}

<br>
<br>
<div class="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-info"></i>
                        Információk
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>Kapcsolat</h5>

                        <p>Email: hrmapp@example.com</p>
                        <p>Telefon: 06 1 123 4565</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
