@{

    Layout = "Layout/_Layout";
    ViewData["Title"] = "Főoldal";
    ViewData["CardTitleName"] = "";
    ViewData["PageHeaderName"] = "";
}

<br>
<br>
<div class="content" style="min-height: 1000px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-info"></i>
                        Információk
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>hrmApp alkalmazás</h5>

                        <p>A hrmApp webalkalmazás a Gábor Dénes Főiskola Mérnök Informatikus szak (BSc)
                            Szoftverfejlesztés
                            szakirány
                            szakdolgozatához készült.</p>
                        <p>A szakdolgozat területe: Szoftverfejlesztés</p>
                        <p>A szakdolgozat tervezett címe: Humán erőforrás menedzsment támogatása közfoglalkoztatási
                            programok
                            megvalósítása
                            során</p>
                        <p>Készítette: Gasparek Ferenc</p>
                        <p>Neptun-kód: DWWPR2</p>
                        <p><a href="#">Szakdolgozat letöltése</a></p>

                    </div>
                    <div class="callout callout-success">
                        <h5>A szakdolgozat készítésének helye</h5>

                        <p>Informatikai Intézet</p>
                    </div>
                    <div class="callout callout-success">
                        <h5>Konzulens</h5>

                        <p>Endrődi Tamás - Mestertanár, Informatikai Igazgató</p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>