@model ForgotPasswordViewModel
@{
    Layout = "Layout/_LayoutBlank";
    ViewData["Title"] = "Elfelejtett jelszó";
    ViewData["CardTitleName"] = ViewData["Title"];
}

<form asp-action="ForgotPassword" method="post">
    <!-- .card-body -->
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <div class="bg-light" style="padding: 10px;">
            Add meg a bejelentkezéshez használt Email címed!            
            A megadott Email címre elküldjük a jelszó beállításához szükséges adatokat.
        </div>
        <hr>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="input-group mb-3">
                <input asp-for="Email" class="form-control" placeholder="E-mail"/>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-center">        
            <button type="submit" class="btn btn-default">Küldés</button>
        </div>    
    </div>                   
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
