@{
    Layout = "Layout/_LayoutBlank";
    ViewData["Title"] = "Elfelejtett jelszó";
    ViewData["CardTitleName"] = ViewData["Title"];
}

<!-- .card-body -->
<div class="card-body">
    <div>
        <p>A megadott Email címre elküldtük a jelszó beállításához szükséges adatokat!</p>
        <p>Ellenőrizd az email fiókodat.</p>
    </div>
</div>
<!-- /.card-body -->
<!-- card-footer -->
<div class="card-footer">
    <div class="form-group mb-1">
        <p>
            <a asp-action="Login">Bejelentkezés</a>
        </p>
    </div>
</div>
<!-- /.card-footer -->