@{
    Layout = "Layout/_LayoutBlankRed";
    ViewData["Title"] = "Hozzáférés letiltva";
    ViewData["CardTitleName"] = ViewData["Title"];
}

<!-- .card-body -->
<div class="card-body">
    <div>
        <p>A belépési jogosultság le van tiltva!</p>
        <p>Próbálozz később!</p>
    </div>

</div>
<!-- /.card-body -->
